# **This notebooks is used to make a table of all runs (experiments)  to create fish track for the GFTS project**  


We will
- Collect all confiugraion for each series of expeiermnt
- Collect sigma value of each series of experiment's tag
-

# Install pangeo fish if necessary
!pip install -e /home/jovyan/pangeo-fish/

In [1]:
# Import necessary libraries and modules.
import os
import xarray as xr
import pandas as pd
import s3fs
import fsspec
import json
from urllib.parse import urlparse

In [2]:
s3 = s3fs.S3FileSystem(
    anon=False,
    client_kwargs={
        "endpoint_url": "https://s3.gra.perf.cloud.ovh.net",
    },
)


# storage_options specifies options for the filesystem storing and/or opening output files.
storage_options = {
    "anon": False,
    # 'profile' : "gfts",
    "client_kwargs": {
        "endpoint_url": "https://s3.gra.perf.cloud.ovh.net",
        "region_name": "gra",
    },
}

In [3]:
s3.ls("gfts-ifremer/tags/bargip/tracks_2/AD_A11146/states.zarr")

['gfts-ifremer/tags/bargip/tracks_2/AD_A11146/states.zarr/.zattrs',
 'gfts-ifremer/tags/bargip/tracks_2/AD_A11146/states.zarr/.zgroup',
 'gfts-ifremer/tags/bargip/tracks_2/AD_A11146/states.zarr/.zmetadata',
 'gfts-ifremer/tags/bargip/tracks_2/AD_A11146/states.zarr/cell_ids',
 'gfts-ifremer/tags/bargip/tracks_2/AD_A11146/states.zarr/latitude',
 'gfts-ifremer/tags/bargip/tracks_2/AD_A11146/states.zarr/longitude',
 'gfts-ifremer/tags/bargip/tracks_2/AD_A11146/states.zarr/resolution',
 'gfts-ifremer/tags/bargip/tracks_2/AD_A11146/states.zarr/states',
 'gfts-ifremer/tags/bargip/tracks_2/AD_A11146/states.zarr/time']

In [4]:

s3.ls("gfts-ifremer/tags/bargip/")
s3_path = 'gfts-ifremer/tags/bargip/tracks_3/configuration.json'
s3.ls(s3_path)

['gfts-ifremer/tags/bargip/tracks_3/configuration.json']

## Save/load tag_table

In [6]:
orient='split'
s3_path = 's3://gfts-ifremer/tags/bargip/summary_result.json'
#tag_table.to_json(s3_path, orient=orient, storage_options=storage_options)

In [7]:
tag_table_saved=pd.read_json(s3_path
                             , orient=orient
                             , storage_options=storage_options)

In [8]:
tag_table=tag_table_saved#.drop(columns=[col for col in tag_table_saved.columns if 'edge' in col])
tag_table

,DK_test,DK_test_2,tracks,tracks_2,tracks_3,time_min,time_max,time_step,tracks_2_edge_sum,tracks_3_edge_sum,tracks_edge_sum,DK_test_edge_sum,DK_test_2_edge_sum
AD_A11146,NaN,None,9.625539,18.390032,18.39753,2015-06-19T00,2016-02-16T00,243,8.180332e-04,8.178953e-04,4.410448e-04,NaN,NaN
AD_A11170,NaN,None,7.952492,39.2306,39.125154,2015-06-19T00,2015-08-18T00,61,1.922060e-03,1.906008e-03,4.582036e-19,NaN,NaN
AD_A11177,NaN,None,15.744902,15.760486,15.661884,2015-06-20T00,2015-07-17T00,28,7.224763e-28,2.801465e-28,4.740200e-06,NaN,NaN
AD_A11382,NaN,None,3.060124,3.060117,2.23907,2015-06-20T00,2017-06-11T00,723,3.124068e-45,1.976926e-84,2.569406e-21,NaN,NaN
AD_A11384,NaN,None,0.922497,0.922497,0.680336,2015-06-20T00,2016-05-20T00,336,0.000000e+00,0.000000e+00,2.373406e-137,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
SV_A12610,NaN,None,None,11.87529,None,2016-06-24T00,2017-06-14T00,356,9.343000e-07,NaN,NaN,NaN,NaN
SV_A12626,NaN,None,None,max_sigma,None,2016-06-24T00,2017-03-14T00,264,0.000000e+00,NaN,NaN,NaN,NaN
SV_A12648,NaN,None,None,30.375259,None,2016-06-24T00,2016-11-23T00,153,3.976755e-04,NaN,NaN,NaN,NaN
SV_A12762,NaN,None,None,28.125243,None,2016-06-24T00,2016-11-12T00,142,8.998839e-04,NaN,NaN,NaN,NaN
SV_A12763,NaN,None,None,2.956922,None,2016-06-24T00,2017-08-09T00,412,1.536885e-72,NaN,NaN,NaN,NaN

## Examine the sigma value . 
Perspective
- switch the optimisation method to try intensively the small sigma value, to not to fall in the bad sigma value...
- and also try the optimisation sigma sigma_1 and sigma_2 (behaviour switch)

In [15]:
tag_table.sort_values('tracks_2_edge_sum')[-10:-1]

,DK_test,DK_test_2,tracks,tracks_2,tracks_3,time_min,time_max,time_step,tracks_2_edge_sum,tracks_3_edge_sum,tracks_edge_sum,DK_test_edge_sum,DK_test_2_edge_sum
SV_A11857,NaN,None,1.772426,24.37561,None,2016-06-23T00,2016-11-10T00,141,0.001529,NaN,5.134223e-215,NaN,NaN
DK_A10595,NaN,None,3.588633,32.625301,32.62517,2014-06-11T00,2015-01-04T00,208,0.001549,0.001548,0.000000e+00,NaN,NaN
SQ_A10790,NaN,None,max_sigma,max_sigma,None,2014-06-25T00,2014-11-08T00,137,0.001646,NaN,4.023528e-03,NaN,NaN
SQ_A10691,NaN,None,7.689432,15.375565,15.625408,2014-06-19T00,2015-06-14T00,361,0.001738,0.001758,2.229000e-07,NaN,NaN
NO_A12587,NaN,None,2.39666,31.875306,31.875207,2016-09-01T00,2017-06-21T00,294,0.001770,0.001737,1.696131e-117,NaN,NaN
AD_A11170,NaN,None,7.952492,39.2306,39.125154,2015-06-19T00,2015-08-18T00,61,0.001922,0.001906,4.582036e-19,NaN,NaN
DK_A10620,2.981492,35.875269,2.98137,36.375091,35.875269,2014-06-12T00,2014-11-16T00,158,0.002651,0.002593,1.293500e-06,1.408712e-17,0.002593
LT_A11207,NaN,None,5.835098,14.22406,14.37507,2014-09-11T00,2015-01-11T00,123,0.006163,0.006202,1.271000e-07,NaN,NaN
SV_A11159,NaN,None,2.208775,34.875155,None,2016-06-23T00,2016-10-20T00,120,0.007864,NaN,0.000000e+00,NaN,NaN

In [9]:
tag_table[400:-1]
# Create a mask to identify rows with 'max_sigma' or values greater than 30
mask = tag_table.apply(lambda row: row.astype(str).str.contains('max_sigma').any() or (row > 30).any(), axis=1)

# Filter the DataFrame using the mask
filtered_df = tag_table[mask]

# Display the filtered DataFrame
filtered_df[0:50]

TypeError: '>' not supported between instances of 'str' and 'int'

# All below are done, and saved in the summary_result.json

In [5]:
# Set up a local cluster for distributed computing.
from distributed import LocalCluster
cluster = LocalCluster()
client = cluster.get_client()
client

## Collect configuration informations

In [ ]:
# Define the S3 path pattern for the configuration JSON files
config_path_pattern = "s3://gfts-ifremer/tags/bargip/*/configuration.json"

# List all configuration.json files in the specified S3 path
fs = fsspec.filesystem('s3')
config_files = fs.glob(config_path_pattern)

# Initialize a list to hold the data from each JSON file
data_list = []

# Read and parse each JSON file
for config_file in config_files:
    with fs.open(config_file, 'r') as f:
        config_data = json.load(f)
        # Extract the last part of the scratch_root path
        parsed_url = urlparse(config_data['scratch_root'])
        experiment = parsed_url.path.split('/')[-1]
        config_data['experiment'] = experiment
        data_list.append(config_data)

# Create a DataFrame from the list of JSON data
configurations = pd.DataFrame(data_list)

# Display the DataFrame
#df.head()  # Display the first few rows of the DataFrame
configurations.set_index('experiment', inplace=True)

In [ ]:
configurations.loc['tracks_3', 'bbox']

## Get sigma, and check if it converged or not.

In [ ]:
# Define the S3 path pattern to include all subdirectories
s3_base_path = 's3://gfts-ifremer/tags/bargip/*/*/parameters.json'

#s3_base_path = 's3://gfts-ifremer/tags/bargip/*/tracks_4/parameters.json'

# Create a filesystem object for S3
fs = fsspec.filesystem('s3')

# List all JSON files matching the pattern
files = fs.glob(s3_base_path)

# Initialize an empty list to store the data
data = []

# Read each JSON file and extract the value of "sigma"
for file in files:
    # Extract parts of the file path
    path_parts = file.split('/')
    experiment = path_parts[-3]
    tag_number = path_parts[-2]
    with fs.open(file, 'r') as f:
        content = f.read()
        data_json = json.loads(content)
        for key in data_json:
            sigma_value = data_json[key]['sigma']
            # Check if the sigma_value is almost the same as the max_sigma
            #
            max_sigma = 47.119351 #configurations.loc[experiment, 'max_sigma']
            if abs(sigma_value - max_sigma) <= 0.1:
                sigma_value = 'max_sigma'
    # Append the data to the list
    data.append([experiment, tag_number, sigma_value])

# Create a pandas DataFrame
df = pd.DataFrame(data, columns=['experiment', 'tag_number', 'sigma'])

# Pivot the DataFrame to get the desired format
df=df.pivot_table(index='tag_number', columns='experiment', values='sigma', aggfunc='first')

# Set tag_number as the index
df.reset_index(inplace=False)
df
#tag_table = df

## Add each simulation's information

### Compute pdf at the edge

In [ ]:
def compute_edge_pdf(tag_table, experiment ):
    # Initialize lists to store time information
    edge_sums = []
    # Find the first non-NaN experiment for each tag_number and extract time information
    # Iterate through the tag_number column
    tag_number=tag_table[experiment].first_valid_index()
    if experiment== 'tracks':
        bbox={'latitude': [42, 53], 'longitude': [-8, 4]}
    else: #tracks_2,_3, DK_test  , DK_test_2 
        bbox={'latitude': [40, 56], 'longitude': [-13, 5]}
    print(experiment,bbox)
    ds=(xr.open_dataset(
    f"s3://gfts-ifremer/tags/bargip/{experiment}/{tag_number}/emission.zarr",
                                    engine="zarr",
                                    chunks={},
                                    inline_array=True,
                                    storage_options=storage_options
                                )
    )
    # Define the tolerance
    tolerance = 0.025*2
    
    # Create a boolean DataArray for the 'edge' condition
    edge_condition = (
        ((ds.latitude >= bbox['latitude'][0] ) & (ds.latitude <= bbox['latitude'][0] + tolerance) |
         (ds.latitude >= bbox['latitude'][1] - tolerance) & (ds.latitude <= bbox['latitude'][1] )) |
        ((ds.longitude >= bbox['longitude'][0] ) & (ds.longitude <= bbox['longitude'][0] + tolerance) |
         (ds.longitude >= bbox['longitude'][1] - tolerance) & (ds.longitude <=  bbox['longitude'][1] ))
    )
    edge = xr.DataArray(edge_condition, dims=['y', 'x'], coords={'y': ds.y, 'x': ds.x}).compute()

    for tag_number in tag_table.index:
        print(experiment,tag_number)
        if not pd.isna(tag_table.loc[tag_number][experiment]) :#and tag_number not in excluded_tags:
            try:
                states=xr.open_dataset(
                        f"s3://gfts-ifremer/tags/bargip/{experiment}/{tag_number}/states.zarr",
                        engine="zarr",
                        chunks={},
                        inline_array=True,
                        storage_options=storage_options
                            ).states.isel(time=slice(0,-1))
                edge_sum=(states*(edge)).sum().compute().item()
                #non_edge_sum=(states*(~edge)).sum().compute().item()
                edge_average=edge_sum/states.time.size
                print(edge_average)                
                edge_sums.append(edge_average)                
            except Exception as e:
                print(f"Error processing {experiment}/{tag_number}: {e}")
                edge_sums.append(None)
        else:
            print(f"Error processing Nan at {experiment}/{tag_number}:")
            edge_sums.append(None)
    # Add time information to the DataFrame
    return edge_sums

In [ ]:
%%time
for experiment in ['tracks_2','tracks_3','tracks','DK_test','DK_test_2']:
    print(experiment+'_edge_array')
    tag_table[experiment+'_edge_sum'] = compute_edge_pdf(tag_table, experiment)
    orient='split'
    s3_path = 's3://gfts-ifremer/tags/bargip/summary_result.json'
    tag_table.to_json(s3_path, orient=orient, storage_options=storage_options)

### Add time of simulations.

In [ ]:
# Initialize lists to store time information
time_min_list = []
time_max_list = []
time_step_list = []
# Find the first non-NaN experiment for each tag_number and extract time information
# Iterate through the tag_number column
for tag_number in tag_table.index:
    first_experiment = tag_table.loc[tag_number].first_valid_index()
    #print(tag_number)
    if first_experiment:
        try:
            time = xr.open_dataset(
                f"s3://gfts-ifremer/tags/bargip/{first_experiment}/{tag_number}/states.zarr",
                engine="zarr",
                chunks={},
                inline_array=True,
                storage_options=storage_options
            ).time

            time_min = pd.Timestamp(time[0].values).strftime('%Y-%m-%dT%H')
            time_max = pd.Timestamp(time[-1].values).strftime('%Y-%m-%dT%H')
            time_step = time.size
            #print(first_experiment,tag_number,time.size,time_min,time_max)
            
            time_min_list.append(time_min)
            time_max_list.append(time_max)
            time_step_list.append(time_step)
        except Exception as e:
            print(f"Error processing {first_experiment}/{tag_number}: {e}")
            time_min_list.append(None)
            time_max_list.append(None)
            time_step_list.append(None)
    else:
        time_min_list.append(None)
        time_max_list.append(None)
        time_step_list.append(None)
# Add time information to the DataFrame
tag_table['time_min'] = time_min_list
tag_table['time_max'] = time_max_list
tag_table['time_step'] = time_step_list

In [ ]:
tag_table